<div *ngIf="controlType === ControlTypes.textarea">
  <!-- <mat-label>{{params.label}}</mat-label> -->

  <!-- INPUT IF THE FIELD HAVE A MASK -->
  <ng-container *ngIf="mask">
    <textarea [formControl]="control"
              (ngModelChange)="onChange($event)"
              [placeholder]="mask.placeholder"
              [textMask]="{mask: mask.value}">
    </textarea>
  </ng-container>

  <ng-container *ngIf="!mask">
    <textarea [formControl]="control"
              (ngModelChange)="onChange($event)"
              [placeholder]="params.label">
          </textarea>
  </ng-container>

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</div>