<mat-form-field appearance="fill"
                *ngIf="controlType === ControlTypes.text || 
                controlType === ControlTypes.number || 
                controlType === ControlTypes.date">
  <!-- <mat-label>{{params.label}}</mat-label> -->

  <!-- INPUT IF THE FIELD HAVE A MASK -->
  <ng-container *ngIf="mask">
    <input [type]="controlType"
           matInput
           [formControl]="control"
           (ngModelChange)="onChange($event)"
           [placeholder]="mask.placeholder"
           [textMask]="{mask: mask.value}">
  </ng-container>

  <ng-container *ngIf="!mask">
    <input [type]="controlType"
           matInput
           [formControl]="control"
           (ngModelChange)="onChange($event)"
           [placeholder]="params.label">
  </ng-container>

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</mat-form-field>