<div *ngIf="control?.touched">
  <mat-error *ngIf="control?.errors?.required">
    поле {{params.name}} является обязательным к заполнению
  </mat-error>

  <mat-error *ngIf="control?.errors?.maxlength as maxlength">
    Максимальная длина {{maxlength.requiredLength}}, сейчас {{maxlength.actualLength}}
  </mat-error>

  <mat-error *ngIf="control?.errors?.email">
    Некорректный Email
  </mat-error>

  <mat-error class="error"
             *ngIf="control?.errors?.invalidMsg">
    {{control?.errors?.invalidMsg}}
  </mat-error>

</div>