<section class="checkbox"
         *ngIf="controlType === ControlTypes.checkbox">
  <mat-checkbox [formControl]="control">{{params.label}}</mat-checkbox>

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</section>