<h2>Добавить новое поле</h2>

<form [formGroup]="addControlForm">
  <!-- CONTROL TYPE -->
  <mat-form-field appearance="fill">
    <label>{{'Выберите тип поля'}}</label>
    <mat-select formControlName="control">
      <mat-option *ngFor="let value of controlTypes"
                  [value]="value.value">
        {{value.value}}
      </mat-option>
    </mat-select>

    <mat-error *ngIf="addControlForm.get('control')?.errors?.required">
      поле является обязательным к заполнению
    </mat-error>
  </mat-form-field>

  <!-- CONTROL PARAMS -->
  <div formGroupName="params"
       class="w-100">

    <!-- CONTROL NAME -->
    <mat-form-field appearance="fill">
      <mat-label>{{'Название для контрола'}}</mat-label>

      <input type="text"
             matInput
             formControlName="name">

      <mat-error *ngIf="addControlForm.get('params.name')?.errors?.required">
        поле является обязательным к заполнению
      </mat-error>
    </mat-form-field>

    <!-- CONTROL LABEL -->
    <mat-form-field appearance="fill">
      <mat-label>{{'Название поля'}}</mat-label>

      <input type="text"
             matInput
             formControlName="label">

      <mat-error *ngIf="addControlForm.get('params.label')?.errors?.required">
        поле является обязательным к заполнению
      </mat-error>
    </mat-form-field>
  </div>


  <button mat-stroked-button
          (click)="submit()">submit</button>
</form>