<mat-form-field appearance="fill"
                *ngIf="controlType === ControlTypes.select">
  <label> {{params.label}} </label>
  <mat-select [formControl]="control">
    <mat-option *ngFor="let value of params.value"
                [value]="value.option">
      {{value.option}}
    </mat-option>
  </mat-select>

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</mat-form-field>