<div class="row mt-5">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="form">
      <!-- <div *ngFor="let t of title">
          <h3 *ngIf="t">{{t}}</h3>
        </div> -->

      <div #formContainer></div>

      <!-- SUBMIT -->
      <div class="d-flex justify-content-end">
        <button class="mt-3"
                mat-stroked-button
                (click)="submit()">
          submit
        </button>
      </div>
    </form>
  </div>
</div>