<div *ngIf="controlType === ControlTypes.file">
  <label> {{params.label}} </label>
  <input type="file"
         [formControl]="control">

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</div>