<div *ngIf="controlType === ControlTypes.date">
  <label> {{params.label}} </label>
  <input type="date"
         [formControl]="control">

  <!-- VALIDATORS -->
  <mat-error *ngIf="validators">
    <app-validators [control]="control"
                    [params]="params"
                    [validators]="validators">
    </app-validators>
  </mat-error>
</div>